/* Stylise all the HTML elements including the body element */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    display: flexbox;
    border:1px solid black;
}

/* Stylize the class selector consisting of buttons */
.buttons{
    text-align: center;
    padding-top: 53vh;
    padding-bottom: 5vh;
}

/* Stylize the button */
button {
    color: black;
    font-size: 6vh;
    border: none;
    margin: 2.5vh 5vh;
}

/* Stylize the body */
body {
    height: 100vh;
}

/* Stylize the class selector for the div element */
.result {
    text-align: center;
}

/* Stylize the button when it is hovered */
button:hover{
    cursor: pointer;
}

/* Stylize the id selector for the paragraph */
#instruction{
    font-weight: bold;
    font-size: 3.25vh;
    margin-left: -30vh;
}