/* Stylise all the HTML elements including the body element */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    display: flexbox;
    border:1px solid black;
}

/* Stylize the button */
button {
    margin-top: 195px;
    margin-bottom: 19px;
}

/* Stylize the body */
body {
    height: 100vh;
}

/* Stylize the id selector for the button */
button#rock {
    margin-left: 360px;
}

/* Stylize the class selector for the div element */
.result {
    text-align: center;
}