/* Stylise all the HTML elements including the body element */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    display: flexbox;
    border:1px solid black;
}

/* Stylize the button */
button {
    background-color: none;
    color:black;
}

/* Stylize the body */
body {
    height: 100vh;
}

/* Stylize the class selector for the div element */
.result {
    text-align: center;
}

/* Stylize the button when it is hovered */
button:hover{
    cursor: pointer;
}